.button
  display: inline-block
  height: 36px
  margin-bottom: 15px
  padding: 0 2rem
  border: none
  border-radius: 2px
  outline: 0
  +animate(.2s)
  cursor: pointer

  +font-size(14px)
  line-height: 36px
  text-decoration:none
  text-transform: uppercase
  text-align: center
  letter-spacing: .5px
  @extend .z-depth-1
  margin-right: 5px
  +set-color($teal-color)
  border-color: none
  -webkit-tap-highlight-color: transparent

  &:hover
    background-color: lighten($teal-color, 5%)
    @extend .z-depth-1-half

  >div
    +font-size(20px)

  i:first-child
    margin-right: 0.5em

  i:last-child
    margin-left: 0.5em

  i:first-child:last-child
    margin-left: 0
    margin-right: 0


.button--disabled
  cursor: arrow
  color: $gray-color !important
  background-color: lighten($gray-color, 25%) !important
  box-shadow: none
  +remove-hover

.button--small
  @extend .button
  +font-size(12px)
  height: 28px
  line-height: 28px

.button--large
  @extend .button
  height: 56px
  line-height: 56px

.button--expand
  @extend .button
  text-align: center
  display: block
  width: 100%

.button--primary,
.button--notice,
.button--alert
  @extend .button

.button--notice
  +set-color($orange-color)
.button--alert
  +set-color($red-color)

.button--flat, .button--flat:hover
  @extend .button
  cursor: pointer
  box-shadow: none
  background-color: transparent
  color: $base-body-color

.button--floating
  display: inline-block
  position: relative
  z-index: 1
  width: $button-height
  height: $button-height
  margin: auto 2px
  padding: 0
  border-radius: 50%
  +font-size(13px)
  line-height: $button-height
  @extend .z-depth-1
  +animate(.3s)
  cursor: pointer
  +set-color($teal-color)
  >div
    width: inherit
    display: inline-block
    text-align: center
    color: $white-color
    line-height: $button-height

  &:hover
    @extend .z-depth-1-half

  &.button--large
    width: $button-height * 1.5
    height: $button-height * 1.5
    >div
      +font-size(26px)
      line-height: $button-height * 1.5





